<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>HotelSearch Login Page</title>
    <link rel="stylesheet" href="/static/style/sign-in.css">
    <link rel="shortcut icon" href="/static/img/icon.png" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div class="top">
            <div class="logo">
                <img src="/static/img/hotelsearch.png" style="width: 175px;">
            </div>
            <div class="form">
                <form th:action="@{/auth}" th:object="${user}" method="post">
                    <div class="form">
                        <div class="input_field">
                            <input type="text" th:field="*{login}" placeholder="Phone number, username, or email"
                                   class="input">
                        </div>
                        <div class="input_field">
                            <input type="password" th:field="*{password}" placeholder="Password" class="input">
                        </div>
                        <button class="btn">Log In</button>
                    </div>
                </form>
            </div>

            <p th:if="!${#strings.isEmpty(message)}" th:text="${message}"></p>
            <p th:if="!${#lists.isEmpty(messages)}">Problems with authentications:</p>
            <table th:if="!${#lists.isEmpty(messages)}" th:each="messageError:${messages}">
                <tr>
                    <td>
                        <p th:text="${messageError}"></p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="signup">
            <p>Don't have an account? <a href="registration">Sign up</a></p>
        </div>
    </div>
</div>
</body>
</html>