* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url("/static/img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}
.wrapper .header {
    max-width: 350px;
    width: 100%;
    height: auto;
    margin: 15% auto;
}

.wrapper .header .top,
.wrapper .signup {
    background: #ffffff;
    border: 1px solid #022369;
    border-radius: 20px;
    padding: 20px 40px 20px;
}

.wrapper .header .logo img {
    display: block;
    margin: 0 auto 20px;
}